<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div class="text-danger">
      <h2>Error: <%= pluralize(category.errors.count, "error") %></h2>
      <ul>
        <% food.errors.each do |error| %>
          <li><% error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :icon %>
    <%= form.text_field :icon %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>