<%= form_with(model: [@category, @transaction]) do |form| %>
  <% if transaction.errors.any? %>
    <div class="text-danger">
      <h2>Error: <%= pluralize(transaction.errors.count, "error") %></h2>
      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>