<div class="d-flex justify-content-center">
  <%= form_with(model: [@category, @transaction]) do |form| %>
    <% if transaction.errors.any? %>
      <div class="text-danger">
        <h2>Error: <%= pluralize(transaction.errors.count, "error") %></h2>
        <ul>
          <% transaction.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="my-2">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="my-2">
      <%= form.label :amount %>
      <%= form.number_field :amount %>
    </div>

    <div class="d-flex justify-content-center my-4">
      <div class="submit-btn">
        <%= form.submit %>
      </div>
    </div>
  <% end %>
</div>