<!DOCTYPE html>
<html>
  <head>
    <title>RailsCapstone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <p>Welcome, <%= current_user.name %></p>
      <p>Email: <%= current_user.email %></p>
      <%= form_with(url: destroy_user_session_path, method: :delete, local: false) do |form| %>
        <button type="submit" class="nav-link">Logout</button>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
